/* colors */
$color-black: #000000;
$color-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);
$color-background: #0dc376;
$color-section-01: #363988;
$color-section-02: #7b3688;
$color-section-03: #3f8836;
$color-section-04: #883659;
$color-section-05: #049648;


/* fonts */
$font-main-regular: 'Lato', sans-serif;
