.art-top {
    padding-bottom: 0px;

    figure {
        background-position: center bottom;
    }
}

.description {
    margin-left: 0px; // &RWD

    max-width: 30rem;
    margin: 1.6875rem 2rem 0px;
    flex: 0 0 0%;
}
