/* colors */
/* fonts */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  background-repeat: no-repeat;
  background: #F6F5F3;
  font-size: 1rem;
  position: relative;
  line-height: 1.6875rem;
  color: #333; }

section {
  height: 100vh;
  width: 100%;
  background-size: contain;
  background-position: center center; }

article {
  padding: 3.375rem 3rem 3.375rem 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; }

figure {
  flex: 1 1 0%;
  background-position: center left;
  background-size: contain; }
  figure img {
    display: none; }

#nr01 {
  background-color: #363988;
  color: #ffffff; }

#nr02 {
  background-color: #7b3688; }

#nr03 {
  background-color: #3f8836; }

#nr04 {
  background-color: #883659; }

#nr05 {
  background-color: #049648; }

body {
  font-family: "Lato", sans-serif; }

.navbar {
  font-weight: 700;
  text-transform: uppercase; }

.nav-link {
  font-size: 0.875rem; }

/* nav left - snipet from https://mladenplavsic.github.io/bootstrap-navbar-sidebar/ */
.navbar.fixed-left {
  position: fixed;
  top: 8.7rem;
  width: 8rem;
  left: 0;
  right: 0;
  z-index: 1; }

@media (min-width: 768px) {
  .navbar.fixed-left {
    bottom: 0;
    width: 232px;
    flex-flow: column nowrap;
    align-items: flex-start; }
  .navbar.fixed-left .navbar-collapse {
    flex-grow: 0;
    flex-direction: column;
    width: 100%; }
  .navbar.fixed-left .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%; }
  .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item {
    width: 100%; }
  .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
    top: 0; } }

@media (min-width: 768px) {
  .navbar.fixed-left {
    right: auto; }
  .navbar.fixed-left .navbar-nav .nav-item .dropdown-toggle:after {
    border-top: .3em solid transparent;
    border-left: .3em solid;
    border-bottom: .3em solid transparent;
    border-right: none;
    vertical-align: baseline; }
  .navbar.fixed-left .navbar-nav .nav-item .dropdown-menu {
    left: 100%; } }

/* custom style (override bootstrap)*/
.bg-primary {
  background-color: rgba(255, 255, 255, 0) !important; }

.navbar-dark .navbar-brand {
  color: #000000; }

.navbar-dark .navbar-nav .nav-link {
  color: #000000; }

.navbar-brand img {
  height: 80px; }

header > nav {
  letter-spacing: 0.175rem;
  will-change: transform;
  margin-left: 2.1rem;
  margin-top: 0; }

.art-top {
  padding-bottom: 0px; }
  .art-top figure {
    background-position: center bottom; }

.description {
  margin-left: 0px;
  max-width: 30rem;
  margin: 1.6875rem 2rem 0px;
  flex: 0 0 0%; }

@media screen and (min-height: 400px) and (min-width: 900px) {
  header {
    top: 2.9rem;
    height: calc(100vh - 6rem);
    flex-direction: column;
    align-items: flex-start;
    z-index: 0;
    position: fixed;
    will-change: transform;
    left: 0;
    right: 0;
    pointer-events: none;
    padding: 0 0 0 2rem;
    max-width: 68rem;
    margin: 0 auto;
    max-width: 68rem; } }

@media screen and (min-height: 400px) and (min-width: 900px) {
  .logo {
    z-index: 10; } }

header {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 5.05rem;
  align-items: center;
  padding: 0.84375rem 2rem; }
  header img {
    width: 175.8px;
    height: 45px; }

.logo {
  margin-right: 3rem;
  z-index: 100;
  margin-left: -5px; }
  .logo a {
    display: block;
    position: relative;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    height: 2.25rem;
    width: auto;
    fill: currentcolor; }

.nav-el a,
.nav-el p {
  transition: color 80ms ease-in-out 0s; }

.invert,
.invert a,
.invert .description {
  color: white; }
