*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    background-repeat: no-repeat;
    background: #F6F5F3;
    //font-family: TTNorms-Regular, sans-serif;
    font-size: 1rem;
    position: relative;
    line-height: 1.6875rem;
    color: #333;
}

section {
    height: 100vh;
    width: 100%;
    background-size: contain;
    background-position: center center;
}

article {
    padding: 3.375rem 3rem 3.375rem 15rem; // & przeniesc przy RWD
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

figure {
    flex: 1 1 0%;
    background-position: center left;
    background-size: contain;

    img {
        display: none;
    }
}

#nr01 {
    background-color: $color-section-01;
    color: $color-white;
}

#nr02 {
    background-color: $color-section-02;
}

#nr03 {
    background-color: $color-section-03;
}

#nr04 {
    background-color: $color-section-04;
}

#nr05 {
    background-color: $color-section-05;
}
