*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-repeat: no-repeat;
}

section {
    height: 100vh;
}

article {
    padding: 3.375rem 3rem 3.375rem 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    figure {
        flex: 1 1;
        background-position: center top;
        background-size: auto 100%;

        img {
            display: none;
        }
    }
}

#nr01 {
    background-color: $color-section-01;
    color: $color-white;
}

#nr02 {
    background-color: $color-section-02;
}

#nr03 {
    background-color: $color-section-03;
}

#nr04 {
    background-color: $color-section-04;
}

#nr05 {
    background-color: $color-section-05;
}
