//@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
    font-family: $font-main-regular;
}

.navbar {
    font-weight: 700;
    text-transform: uppercase;
}

.nav-link{
    font-size: 0.875rem;
}
